Repository frozenspider/maelstrom-downloader: changes, and which Codecov flags are due for each by the changed paths.
All: core, backend, ui

.codecov.yml:

coverage:
  range: "40...70"

  # Workaround for unexpected coverage decrease
  status:
    project:
      default:
        enabled:   true
        threshold: 4
    patch: false

flags:
  core:
    paths:
      - src/main/scala/org/fs/mael/core/
  backend:
    paths:
      - src/main/scala/org/fs/mael/backend/
  ui:
    paths:
      - src/main/scala/org/fs/mael/ui/

#3: Some naming/package changes
  src/main/scala/org/fs/mael/backend/http/HttpBackend.scala
  src/main/scala/org/fs/mael/backend/http/ui/HttpConfigUi.scala
  src/main/scala/org/fs/mael/backend/http/ui/HttpSettings.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/components/DownloadsTable.scala
  src/main/scala/org/fs/mael/ui/config/GlobalSettings.scala
  src/main/scala/org/fs/mael/ui/config/MFieldEditorPreferencePage.scala
  src/main/scala/org/fs/mael/ui/config/MPreferenceNode.scala
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderSpec.scala
Due: backend, ui

#3: Updated CHANGELOG
  CHANGELOG.md
Due: none

Fixed migration error when no file exists, updated CHANGELOG
  CHANGELOG.md
  src/main/scala/org/fs/mael/core/migration/MigrationManager.scala
Due: core

#11: Settings UI generalized
  src/main/scala/org/fs/mael/backend/http/HttpBackend.scala
  src/main/scala/org/fs/mael/backend/http/HttpSettings.scala
  src/main/scala/org/fs/mael/backend/http/ui/HttpConfigUi.scala
  src/main/scala/org/fs/mael/backend/http/ui/HttpSettings.scala
  src/main/scala/org/fs/mael/core/backend/BackendConfigUiImpl.scala
  src/main/scala/org/fs/mael/ui/config/EmptyPreferencePage.scala
  src/main/scala/org/fs/mael/ui/config/GlobalSettings.scala
  src/main/scala/org/fs/mael/ui/config/MPreferenceNode.scala
  src/main/scala/org/fs/mael/ui/config/MPreferencePageDescriptor.scala
Due: core, backend, ui

#11: Separated GlobalSettingsController and its companion object
  src/main/scala/org/fs/mael/backend/http/HttpSettings.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/config/GlobalSettings.scala
  src/main/scala/org/fs/mael/ui/config/GlobalSettingsController.scala
Due: backend, ui

#11: Reworked Backend class hierarchy
  src/main/scala/org/fs/mael/backend/http/HttpBackend.scala
  src/main/scala/org/fs/mael/core/backend/AbstractBackend.scala
  src/main/scala/org/fs/mael/core/backend/Backend.scala
  src/test/scala/org/fs/mael/core/list/DownloadListManagerSpec.scala
  src/test/scala/org/fs/mael/test/stub/AbstractSimpleBackend.scala
  src/test/scala/org/fs/mael/test/stub/StubBackend.scala
Due: core, backend

#11: Added HTTP settings to global settings list
  src/main/scala/org/fs/mael/core/backend/BackendConfigUi.scala
  src/main/scala/org/fs/mael/core/backend/BackendConfigUiImpl.scala
  src/main/scala/org/fs/mael/ui/config/GlobalSettingsController.scala
Due: core, ui

#11: Reworked BackendConfigUi class hierarchy
  src/main/scala/org/fs/mael/core/backend/AbstractBackend.scala
  src/main/scala/org/fs/mael/core/backend/AbstractBackendConfigUi.scala
  src/main/scala/org/fs/mael/core/backend/BackendConfigUiImpl.scala
Due: core

#11: ConfigManager renamed to ConfigStore, its store renamed to inner
  src/main/scala/org/fs/mael/MaelstromDownloaderMain.scala
  src/main/scala/org/fs/mael/backend/http/HttpBackend.scala
  src/main/scala/org/fs/mael/core/backend/AbstractBackend.scala
  src/main/scala/org/fs/mael/core/backend/AbstractBackendConfigUi.scala
  src/main/scala/org/fs/mael/core/backend/Backend.scala
  src/main/scala/org/fs/mael/core/backend/BackendConfigUi.scala
  src/main/scala/org/fs/mael/core/backend/BackendConfigUiImpl.scala
  src/main/scala/org/fs/mael/core/config/ConfigChangedEvent.scala
  src/main/scala/org/fs/mael/core/config/ConfigStore.scala
  src/main/scala/org/fs/mael/core/config/FileBackedConfigStore.scala
  src/main/scala/org/fs/mael/core/config/InMemoryConfigStore.scala
  src/main/scala/org/fs/mael/core/entry/DownloadEntry.scala
  src/main/scala/org/fs/mael/core/entry/DownloadEntryView.scala
  src/main/scala/org/fs/mael/core/list/DownloadListSerializerImpl.scala
  src/main/scala/org/fs/mael/core/migration/MigrationManager.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/components/DownloadsTable.scala
  src/main/scala/org/fs/mael/ui/config/GlobalSettingsController.scala
  src/main/scala/org/fs/mael/ui/config/MFieldEditorPreferencePage.scala
  src/test/scala/org/fs/mael/backend/http/HttpBackendSpec.scala
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderSpec.scala
  src/test/scala/org/fs/mael/core/config/ConfigStoreSpec.scala
  src/test/scala/org/fs/mael/core/config/InMemoryConfigManagerSpec.scala
  src/test/scala/org/fs/mael/core/config/InMemoryConfigStoreSpec.scala
  src/test/scala/org/fs/mael/core/list/DownloadListManagerSpec.scala
  src/test/scala/org/fs/mael/core/list/DownloadListSerializerImplSpec.scala
  src/test/scala/org/fs/mael/core/migration/MigrationManagerSpec.scala
  src/test/scala/org/fs/mael/test/TestUtils.scala
  src/test/scala/org/fs/mael/test/stub/AbstractSimpleBackend.scala
  src/test/scala/org/fs/mael/test/stub/StubBackend.scala
Due: core, backend, ui

#11: BackendConfigUi moved to ui subpackage
  src/main/scala/org/fs/mael/core/backend/AbstractBackend.scala
  src/main/scala/org/fs/mael/core/backend/Backend.scala
  src/main/scala/org/fs/mael/core/backend/ui/AbstractBackendConfigUi.scala
  src/main/scala/org/fs/mael/core/backend/ui/BackendConfigUi.scala
  src/main/scala/org/fs/mael/core/backend/ui/BackendConfigUiImpl.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/test/scala/org/fs/mael/test/stub/AbstractSimpleBackend.scala
Due: core, ui

#11: Updated CHANGELOG
  CHANGELOG.md
Due: none

Implemented download restart
  CHANGELOG.md
  src/main/scala/org/fs/mael/core/backend/BackendDownloader.scala
  src/main/scala/org/fs/mael/core/event/EventManager.scala
  src/main/scala/org/fs/mael/core/event/Events.scala
  src/main/scala/org/fs/mael/core/list/DownloadListManager.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/components/DownloadsTable.scala
Due: core, ui

User action callbacks encapsulated into inner object, added few TODOs
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/components/DownloadsTable.scala
  src/main/scala/org/fs/mael/ui/config/GlobalSettings.scala
  src/main/scala/org/fs/mael/ui/resources/ResourcesImpl.scala
Due: ui

Slight style improvement, added version to README
  README.md
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
Due: backend

Implemented SpeedCalculator, working as first subscriber
  src/main/scala/org/fs/mael/core/event/EventManagerImpl.scala
  src/main/scala/org/fs/mael/core/event/SpeedCalcSubscriber.scala
  src/main/scala/org/fs/mael/core/event/SpeedCalculator.scala
Due: core

Reworked SpeedCalculator to integrate it into subscriber, updated UI
  src/main/scala/org/fs/mael/MaelstromDownloaderMain.scala
  src/main/scala/org/fs/mael/core/event/EventManager.scala
  src/main/scala/org/fs/mael/core/event/EventManagerImpl.scala
  src/main/scala/org/fs/mael/core/event/Events.scala
  src/main/scala/org/fs/mael/core/event/SpeedCalcSubscriber.scala
  src/main/scala/org/fs/mael/core/event/SpeedCalculator.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/components/DownloadsTable.scala
Due: core, ui

Separate speed render threshold and formatting, reset on status change
  src/main/scala/org/fs/mael/core/backend/BackendDownloader.scala
  src/main/scala/org/fs/mael/core/event/SpeedCalculator.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/components/DownloadsTable.scala
Due: core, ui

Speed calculation ignores less than 4 entries
  src/main/scala/org/fs/mael/core/event/SpeedCalculator.scala
Due: core

Changed EventManager behaviour to reject duplicate subscriptions
  src/main/scala/org/fs/mael/core/event/EventManagerImpl.scala
  src/test/scala/org/fs/mael/core/event/EventManagerImplSpec.scala
Due: core

Progress/speed update threshold merged together and made per-download
  src/main/scala/org/fs/mael/ui/MainFrame.scala
Due: ui

Added test option to show full stacktrace of failed tests in SBT output
  build.sbt
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderSpec.scala
Due: none

Fixed code duplication
  src/main/scala/org/fs/mael/ui/MainFrame.scala
Due: ui

Updated CHANGELOG
  CHANGELOG.md
Due: none

Test coverage for SpeedCalculator
  src/main/scala/org/fs/mael/core/event/SpeedCalculator.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/test/scala/org/fs/mael/core/event/SpeedCalculatorSpec.scala
Due: core, ui

Added "time remaining" column and calculation
  CHANGELOG.md
  src/main/scala/org/fs/mael/core/entry/DownloadEntryView.scala
  src/main/scala/org/fs/mael/core/event/SpeedCalculator.scala
  src/main/scala/org/fs/mael/ui/components/DownloadsTable.scala
Due: core, ui

Added TODOs
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/components/DownloadsTable.scala
Due: ui

Added (failing) test for UTF-8 encoded filename; minor cleanup and TODO
  src/main/scala/org/fs/mael/core/config/ConfigSetting.scala
  src/main/scala/org/fs/mael/core/migration/MigrationManager.scala
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderSpec.scala
Due: core

Parsing filename* parameter according to RFC 5987
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
  src/main/scala/org/fs/mael/backend/http/HttpUtils.scala
Due: backend

Changed implementation to reuse java.net.URLDecoder
  src/main/scala/org/fs/mael/backend/http/HttpUtils.scala
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderSpec.scala
  src/test/scala/org/fs/mael/backend/http/HttpUtilsSpec.scala
Due: backend

Fixed download going failing when filename* is malformed
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderSpec.scala
Due: backend

Remade speed tracking to avoid caching values inside DownloadEntry
  src/main/scala/org/fs/mael/MaelstromDownloaderMain.scala
  src/main/scala/org/fs/mael/core/entry/DownloadEntry.scala
  src/main/scala/org/fs/mael/core/entry/DownloadEntryView.scala
  src/main/scala/org/fs/mael/core/event/EventManager.scala
  src/main/scala/org/fs/mael/core/event/Events.scala
  src/main/scala/org/fs/mael/core/list/DownloadListManager.scala
  src/main/scala/org/fs/mael/core/speed/SpeedTracker.scala
  src/main/scala/org/fs/mael/core/speed/SpeedTrackerImpl.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/components/DownloadsTable.scala
  src/test/scala/org/fs/mael/core/speed/SpeedTrackerSpec.scala
  src/test/scala/org/fs/mael/test/TestUtils.scala
Due: core, ui

calcSpeed made public
  src/main/scala/org/fs/mael/core/speed/SpeedTrackerImpl.scala
  src/test/scala/org/fs/mael/core/speed/SpeedTrackerSpec.scala
Due: core

Used exponential moving average for ETA calc; hide seconds for >minute
  src/main/scala/org/fs/mael/core/speed/SpeedTrackerImpl.scala
  src/main/scala/org/fs/mael/ui/components/DownloadsTable.scala
Due: core, ui

Fixed background thread making speed tracker test volatile
  src/main/scala/org/fs/mael/core/speed/SpeedTrackerImpl.scala
  src/test/scala/org/fs/mael/core/speed/SpeedTrackerSpec.scala
Due: core

Updated comments and imports
  src/main/scala/org/fs/mael/core/event/Events.scala
  src/main/scala/org/fs/mael/core/speed/SpeedTrackerImpl.scala
  src/test/scala/org/fs/mael/core/speed/SpeedTrackerSpec.scala
Due: core

Applying HTTP user-agent override
  CHANGELOG.md
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
Due: backend

Split global and local HTTP config pages, working on custom cookies
  CHANGELOG.md
  src/main/scala/org/fs/mael/MaelstromDownloaderMain.scala
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
  src/main/scala/org/fs/mael/backend/http/HttpSettings.scala
  src/main/scala/org/fs/mael/backend/http/ui/CookiesConfigSetting.scala
  src/main/scala/org/fs/mael/backend/http/ui/CookiesFieldEditor.scala
  src/main/scala/org/fs/mael/core/backend/AbstractBackend.scala
  src/main/scala/org/fs/mael/core/config/ConfigSetting.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
Due: core, backend, ui

Reworked cookies (de-)serializer to use URL encode/decode
  src/main/scala/org/fs/mael/backend/http/ui/CookiesConfigSetting.scala
  src/main/scala/org/fs/mael/backend/http/ui/CookiesFieldEditor.scala
Due: backend

CookiesFieldEditor, WIP
  src/main/scala/org/fs/mael/backend/http/ui/CookiesFieldEditor.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
Due: backend, ui

Fixed cookie sending error and improper header logging
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
  src/main/scala/org/fs/mael/backend/http/HttpMessageWriterProxyFactory.scala
Due: backend
