Repository frozenspider/maelstrom-downloader: changes, and which Codecov flags are due for each by the changed paths.
All: core, backend, ui

Scala and SBT updated to 2.12.8 and 1.2.8 correspondingly
  .travis.yml
  build.sbt
  project/build.properties
Due: none

Properly set HTTP connection timeouts, set TCP_NODELAY to false
  CHANGELOG.md
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
Due: backend

Set traffic class (DSCP) for HTTP to CS1 ("Lower Effort")
  CHANGELOG.md
  src/main/scala/org/fs/mael/backend/http/CustomConnectionSocketFactory.scala
Due: backend

Version bumped to 1.1
  CHANGELOG.md
  build.sbt
Due: none

Removed "provided" from SWT dependencies (why did I put it there in the first place?)
  project/SwtDependencies.scala
Due: none

Added -XstartOnFirstThread to shell script; prevent .exe assembly on non-windows OSes
  assembly.sbt
Due: none

Updated to Scala 2.13, SWT 3.124.0, version bumped to 1.2
  .gitignore
  CHANGELOG.md
  assembly.sbt
  build.sbt
  project/SwtDependencies.scala
  project/build.properties
  project/plugins.sbt
  src/main/scala/org/fs/mael/backend/http/HttpBackend.scala
  src/main/scala/org/fs/mael/backend/http/utils/HttpUtils.scala
  src/main/scala/org/fs/mael/core/backend/BackendManager.scala
  src/main/scala/org/fs/mael/core/checksum/Checksums.scala
  src/main/scala/org/fs/mael/core/entry/DownloadEntryView.scala
  src/main/scala/org/fs/mael/core/speed/SpeedTrackerImpl.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/test/scala/org/fs/mael/backend/http/HttpBackendSpec.scala
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderProxySocks5Spec.scala
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderSpec.scala
  src/test/scala/org/fs/mael/backend/http/utils/HttpUtilsSpec.scala
  src/test/scala/org/fs/mael/core/backend/BackendManagerSpec.scala
  src/test/scala/org/fs/mael/core/checksum/ChecksumsSpec.scala
  src/test/scala/org/fs/mael/core/config/BackendConfigStoreSpec.scala
  src/test/scala/org/fs/mael/core/config/ConfigStoreSpec.scala
  src/test/scala/org/fs/mael/core/config/InMemoryConfigStoreSpec.scala
  src/test/scala/org/fs/mael/core/event/EventManagerImplSpec.scala
  src/test/scala/org/fs/mael/core/list/DownloadListManagerSpec.scala
  src/test/scala/org/fs/mael/core/list/DownloadListSerializerImplSpec.scala
  src/test/scala/org/fs/mael/core/migration/MigrationManagerSpec.scala
  src/test/scala/org/fs/mael/core/speed/SpeedTrackerSpec.scala
  src/test/scala/org/fs/mael/core/utils/CoreUtilsSpec.scala
  src/test/scala/org/fs/mael/core/utils/IoUtilsSpec.scala
  src/test/scala/org/fs/mael/test/SimpleHttpServer.scala
Due: core, backend, ui

Oops, actually requires Java 17+
  README.md
Due: none

Updated .travis.yml accordingly
  .travis.yml
Due: none

Another attempt to fix Travis CI build
  .travis.yml
Due: none

Added SHA-512 checksum
  CHANGELOG.md
  src/main/scala/org/fs/mael/core/checksum/ChecksumType.java
  src/main/scala/org/fs/mael/core/checksum/Checksums.scala
  src/test/scala/org/fs/mael/core/checksum/ChecksumsSpec.scala
Due: core

Path conditions:
  core: any of: src/main/scala/org/fs/mael/core/
  backend: any of: src/main/scala/org/fs/mael/backend/
  ui: any of: src/main/scala/org/fs/mael/ui/
