Repository frozenspider/maelstrom-downloader: changes, and which Codecov flags are due for each by the changed paths.
All: core, backend, ui

.codecov.yml:

coverage:
  range: "50...90"

flags:
  core:
    paths:
      - src/main/scala/org/fs/mael/core/
  backend:
    paths:
      - src/main/scala/org/fs/mael/backend/
  ui:
    paths:
      - src/main/scala/org/fs/mael/ui/

#17: Added mention of test coverage in CHANGELOG
  CHANGELOG.md
Due: none

Fixed auto-parsing of link in clipboard if it contains multiple lines
  src/main/scala/org/fs/mael/ui/AddDownloadFrame.scala
Due: ui

"Copy download URI" popup menu item (Ctrl-C), improved hotkey management
  CHANGELOG.md
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/utils/Hotkey.scala
  src/main/scala/org/fs/mael/ui/utils/SwtUtils.scala
Due: ui

Added notice about fixed HTTP bug in CHANGELOG
  CHANGELOG.md
Due: none

copyUri renamed to copyUris
  src/main/scala/org/fs/mael/ui/MainFrame.scala
Due: ui

Hotkey definitions minor rework
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/utils/Hotkey.scala
  src/main/scala/org/fs/mael/ui/utils/SwtUtils.scala
Due: ui

Version bumped to 0.1.1
  CHANGELOG.md
  build.sbt
Due: none

Version changed to SNAPSHOT
  CHANGELOG.md
  build.sbt
Due: none

Updated Codecov.io badge in README
  README.md
Due: none

Fixed exit button in top menu not working
  CHANGELOG.md
  build.sbt
  src/main/scala/org/fs/mael/ui/MainFrame.scala
Due: ui

Browse button for selecting download folder when creating new download
  src/main/images/folder-16x16.png
  src/main/images/folder.psd
  src/main/resources/icons/folder-16x16.png
  src/main/scala/org/fs/mael/ui/AddDownloadFrame.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/resources/Resources.scala
  src/main/scala/org/fs/mael/ui/resources/ResourcesImpl.scala
Due: ui

Reworked Browse button again using JFace DirectoryFileEditor
  src/main/resources/icons/folder-16x16.png
  src/main/scala/org/fs/mael/ui/AddDownloadFrame.scala
  src/main/scala/org/fs/mael/ui/resources/Resources.scala
  src/main/scala/org/fs/mael/ui/resources/ResourcesImpl.scala
Due: ui

Notice in CHANGELOG
  CHANGELOG.md
Due: none

#20: Rename AddDownloadFrame to EditDownloadDialog, slight rework
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
Due: ui

#20: Properties button, rework of layout and main table events approach
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/components/DownloadsTable.scala
Due: ui

#20: Edit of basic download properties (except for location)
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/components/DownloadsTable.scala
Due: ui

#20: Fixed issue with buttons enabled state unchanged upon status update
  src/main/scala/org/fs/mael/ui/MainFrame.scala
Due: ui

Attempt to workaround issue with Codecov coverage decrease
  .codecov.yml
Due: none

Attempt to workaround issue with Codecov coverage decrease, take 2
  .codecov.yml
Due: none

Slightly reworked events framework
  src/main/scala/org/fs/mael/core/event/BackendSubscriber.scala
  src/main/scala/org/fs/mael/core/event/EventSubscriber.scala
  src/main/scala/org/fs/mael/core/event/Events.scala
  src/main/scala/org/fs/mael/core/event/UiSubscriber.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
Due: core, ui

Reduced the HTTP downloader buffer size to 1 KB
  src/main/scala/org/fs/mael/backend/http/HttpBackendDownloader.scala
Due: backend

Disabled Codecov patch check
  .codecov.yml
Due: none

#20: Implemented file relocation
  src/main/scala/org/fs/mael/core/UserFriendlyException.scala
  src/main/scala/org/fs/mael/core/utils/CoreUtils.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
Due: core, ui

#20: File move/copy exceptions will cause target file to be deleted
  src/main/scala/org/fs/mael/core/utils/CoreUtils.scala
Due: core

#25: Double-clicking the table entry now opens properties dialog
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
Due: ui

#25, #20: Updated CHANGELOG
  CHANGELOG.md
Due: none

Test for tryWith
  src/test/scala/org/fs/mael/core/utils/CoreUtilsSpec.scala
Due: none

#20: Reworked copyFile for better testability, added test coverage
  build.sbt
  src/main/scala/org/fs/mael/core/utils/CoreUtils.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/test/scala/org/fs/mael/core/utils/CoreUtilsSpec.scala
Due: core, ui

#20: Partial test coverage for moveFile, fixed bug in it
  src/main/scala/org/fs/mael/core/utils/CoreUtils.scala
  src/test/scala/org/fs/mael/core/utils/CoreUtilsSpec.scala
Due: core

Test coverage for requireFriendly and failFriendly
  src/test/scala/org/fs/mael/core/utils/CoreUtilsSpec.scala
Due: none

Missing partially downloaded file is now detected prior to HTTP request
  src/main/scala/org/fs/mael/backend/http/HttpBackendDownloader.scala
  src/test/scala/org/fs/mael/backend/http/HttpBackendDownloaderSpec.scala
Due: backend

#27: Basic infrastructure for checksums computation
  src/main/scala/org/fs/mael/core/checksum/Checksum.scala
  src/main/scala/org/fs/mael/core/checksum/ChecksumType.java
  src/main/scala/org/fs/mael/core/checksum/Checksums.scala
Due: core

#27: UI for checksums; integrated checksums into all method signatures
  src/main/scala/org/fs/mael/backend/http/HttpBackend.scala
  src/main/scala/org/fs/mael/core/backend/Backend.scala
  src/main/scala/org/fs/mael/core/entry/DownloadEntry.scala
  src/main/scala/org/fs/mael/core/entry/DownloadEntryView.scala
  src/main/scala/org/fs/mael/core/list/DownloadListSerializerImpl.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/main/scala/org/fs/mael/ui/utils/SwtUtils.scala
  src/test/scala/org/fs/mael/backend/http/HttpBackendDownloaderSpec.scala
  src/test/scala/org/fs/mael/core/backend/BackendManagerSpec.scala
  src/test/scala/org/fs/mael/core/event/EventManagerImplSpec.scala
  src/test/scala/org/fs/mael/core/list/DownloadListManagerSpec.scala
  src/test/scala/org/fs/mael/core/list/DownloadListSerializerImplSpec.scala
  src/test/scala/org/fs/mael/test/TestUtils.scala
  src/test/scala/org/fs/mael/test/stub/AbstractSimpleBackend.scala
Due: core, backend, ui

#27: Test coverage for checksums, minor signature tweak
  src/main/scala/org/fs/mael/core/checksum/Checksum.scala
  src/main/scala/org/fs/mael/core/checksum/Checksums.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/test/scala/org/fs/mael/backend/http/HttpBackendDownloaderSpec.scala
  src/test/scala/org/fs/mael/core/checksum/ChecksumsSpec.scala
  src/test/scala/org/fs/mael/core/list/DownloadListManagerSpec.scala
  src/test/scala/org/fs/mael/core/list/DownloadListSerializerImplSpec.scala
Due: core, ui

#27: Checksum is now verified before completion; added test for that
  src/main/scala/org/fs/mael/backend/http/HttpBackendDownloader.scala
  src/main/scala/org/fs/mael/core/backend/BackendDownloader.scala
  src/test/scala/org/fs/mael/backend/http/HttpBackendDownloaderSpec.scala
Due: core, backend

#27: Guessing checksum based on its length
  src/main/scala/org/fs/mael/core/checksum/ChecksumType.java
  src/main/scala/org/fs/mael/core/checksum/Checksums.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/test/scala/org/fs/mael/backend/http/HttpBackendDownloaderSpec.scala
  src/test/scala/org/fs/mael/core/checksum/ChecksumsSpec.scala
Due: core, ui

#27: Updated CHANGELOG, added TODO note
  CHANGELOG.md
  src/main/scala/org/fs/mael/core/list/DownloadListManager.scala
Due: core

#27: Checksum not matching log entry correctly remade to an error
  src/main/scala/org/fs/mael/core/backend/BackendDownloader.scala
Due: core

#27: Implemented CRC32 checksum
  build.sbt
  src/main/scala/org/fs/mael/core/checksum/ChecksumType.java
  src/main/scala/org/fs/mael/core/checksum/Checksums.scala
  src/test/scala/org/fs/mael/core/checksum/ChecksumsSpec.scala
Due: core

#27: Import cleanup
  src/test/scala/org/fs/mael/core/checksum/ChecksumsSpec.scala
Due: none
