Repository frozenspider/maelstrom-downloader: changes, and which Codecov flags are due for each by the changed paths.
All: core, backend, ui

HTTPS through SOCKS5 proxy, option to disable HTTPS cert checks
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
  src/main/scala/org/fs/mael/backend/http/ProxyConnectionSocketFactory.scala
  src/main/scala/org/fs/mael/backend/http/ProxyLayeredConnectionSocketFactory.scala
  src/main/scala/org/fs/mael/backend/http/config/HttpSettings.scala
  src/test/resources/cert/self-signed-commands.txt
  src/test/resources/cert/self-signed.der
  src/test/resources/cert/self-signed.jks
  src/test/resources/cert/self-signed.key
  src/test/resources/cert/self-signed.p12
  src/test/resources/cert/self-signed.pem
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderProxySocks5Spec.scala
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderProxySpec.scala
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderSpec.scala
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderSpecBase.scala
  src/test/scala/org/fs/mael/test/SimpleHttpServer.scala
  src/test/scala/org/fs/mael/test/proxy/Socks5ForwardingProxy.scala
  src/test/scala/org/fs/mael/test/proxy/Socks5MockProxy.scala
  src/test/scala/org/fs/mael/test/proxy/Socks5ProxyBase.scala
Due: backend

Added "Connection: close" header; forcefully shutdown connection
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
Due: backend

Fixed error sometimes happening when right-clicking empty space in list
  src/main/scala/org/fs/mael/ui/MainFrame.scala
Due: ui

Changed SimpleHttpServer to ensure socket release
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderSpecBase.scala
  src/test/scala/org/fs/mael/test/SimpleHttpServer.scala
Due: backend

Test config settings made lazy
  src/main/scala/org/fs/mael/core/config/ConfigSetting.scala
  src/test/scala/org/fs/mael/core/config/BackendConfigStoreSpec.scala
  src/test/scala/org/fs/mael/core/config/ConfigStoreSpec.scala
  src/test/scala/org/fs/mael/core/config/InMemoryConfigStoreSpec.scala
Due: core

Added IDEA files to .gitignore
  .gitignore
Due: none

Fixed socket bind issue after test HTTP(S) server restart on Linux
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderSpecBase.scala
  src/test/scala/org/fs/mael/test/SimpleHttpServer.scala
Due: none

Style improvements: pattern decomposition of String.split() result
  src/main/scala/org/fs/mael/backend/http/utils/HttpUtils.scala
  src/main/scala/org/fs/mael/backend/http/utils/SimpleTableSerializer.scala
  src/main/scala/org/fs/mael/core/list/DownloadListSerializerImpl.scala
Due: core, backend

Slightly improved code for non-validating SSL socket factory
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
Due: backend

Validation of default SSL socket factory by checking JRE root certs
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
  src/main/scala/org/fs/mael/backend/http/utils/HttpUtils.scala
  src/main/scala/org/fs/mael/core/utils/CoreUtils.scala
  src/test/scala/org/fs/mael/backend/http/utils/HttpUtilsSpec.scala
Due: core, backend

Transitive SWT dependencies made explicit
  build.sbt
  project/SwtDependencies.scala
Due: none

Change in phrasing, additional comment on SimpleHttpServer
  src/main/scala/org/fs/mael/backend/http/utils/HttpUtils.scala
  src/test/scala/org/fs/mael/test/SimpleHttpServer.scala
Due: backend

Workaround for "java.net.BindException: Address already in use" in tests
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderSpecBase.scala
Due: none

Limited SSL factory validation to a known JVM; naming, comments
  src/main/scala/org/fs/mael/backend/http/FakeDnsResolver.scala
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
  src/main/scala/org/fs/mael/backend/http/ProxyConnectionSocketFactory.scala
  src/main/scala/org/fs/mael/backend/http/ProxyLayeredConnectionSocketFactory.scala
  src/main/scala/org/fs/mael/backend/http/config/HttpSettings.scala
  src/main/scala/org/fs/mael/backend/http/utils/HttpUtils.scala
  src/main/scala/org/fs/mael/core/utils/CoreUtils.scala
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderProxySocks5Spec.scala
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderSpec.scala
Due: core, backend

Slightly improved naming and impl of IoUtils.readAvailable
  src/main/scala/org/fs/mael/core/utils/IoUtils.scala
  src/test/scala/org/fs/mael/test/proxy/Socks5MockProxy.scala
Due: core

Disabled ProxyLocalFieldEditor radio buttons for completed downloads
  src/main/scala/org/fs/mael/ui/components/proxy/ProxyLocalFieldEditor.scala
Due: ui

Bunch of comment/note changes
  CHANGELOG.md
  src/main/scala/org/fs/mael/core/config/LocalConfigSettingValue.scala
  src/main/scala/org/fs/mael/core/proxy/Proxy.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
Due: core, ui

CoreUtils cleaned up, some methods moved to other utility classes
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
  src/main/scala/org/fs/mael/backend/http/utils/HttpUtils.scala
  src/main/scala/org/fs/mael/core/utils/CoreUtils.scala
  src/main/scala/org/fs/mael/core/utils/IoUtils.scala
  src/main/scala/org/fs/mael/core/utils/LangUtils.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/test/scala/org/fs/mael/core/utils/CoreUtilsSpec.scala
  src/test/scala/org/fs/mael/core/utils/IoUtilsSpec.scala
Due: core, backend, ui

#55: Better error message is proxy connection times out
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
Due: backend

#55: Added ConnectionRegistry to abort HTTP conns on thread interrupt
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
  src/main/scala/org/fs/mael/core/connection/AbortableConnectionRegistry.scala
Due: core, backend

#55: Socket tracking in ConnectionRegistry, added it to socket factories
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
  src/main/scala/org/fs/mael/backend/http/ProxyConnectionSocketFactory.scala
  src/main/scala/org/fs/mael/backend/http/ProxyLayeredConnectionSocketFactory.scala
  src/main/scala/org/fs/mael/core/connection/AbortableConnectionRegistry.scala
Due: core, backend

#55: Renamed ProxyXxx socket factories to CustomXxx
  src/main/scala/org/fs/mael/backend/http/CustomConnectionSocketFactory.scala
  src/main/scala/org/fs/mael/backend/http/CustomLayeredConnectionSocketFactory.scala
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
Due: backend

#55: Test coverage for proxyless download stop during I/O
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderSpec.scala
Due: backend

#55: Test coverage for SOCKS5 download stop during I/O
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderProxySocks5Spec.scala
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderSpec.scala
  src/test/scala/org/fs/mael/test/proxy/Socks5ProxyBase.scala
Due: none

#55: Updated CHANGELOG
  CHANGELOG.md
Due: none

Slightly improved CURL parsing, added tooltip with explanation
  src/main/scala/org/fs/mael/backend/http/HttpBackend.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/test/scala/org/fs/mael/backend/http/HttpBackendSpec.scala
Due: backend, ui

Connection timeout default changed from none to 10 sec
  src/main/scala/org/fs/mael/ui/config/GlobalSettings.scala
Due: ui

More info shown to user when SOCKS5 proxy responds with an error
  src/main/scala/org/fs/mael/backend/http/CustomConnectionSocketFactory.scala
Due: backend

Correctly resolve file name from path on redirects
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
  src/main/scala/org/fs/mael/backend/http/utils/HttpUtils.scala
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderSpec.scala
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderSpecBase.scala
Due: backend

Slight code style improvements
  src/main/scala/org/fs/mael/backend/http/ui/CookiesFieldEditorDialog.scala
  src/main/scala/org/fs/mael/backend/http/ui/HeadersFieldEditorDialog.scala
  src/main/scala/org/fs/mael/ui/components/PopupEditorDialog.scala
  src/main/scala/org/fs/mael/ui/components/StringTablePopupEditorDialog.scala
Due: backend, ui

Added "About" dialog and homepage reference
  build.sbt
  project/SwtDependencies.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/components/AboutDialogController.scala
  src/main/scala/org/fs/mael/ui/utils/SwtUtils.scala
Due: ui

Fixed several minor code style issues
  project/build.properties
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/utils/SwtUtils.scala
Due: ui

#63: Opening file folder on Windows OS now selects the file in explorer
  CHANGELOG.md
  src/main/scala/org/fs/mael/core/utils/SystemUtils.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
Due: core, ui

Double-clicking completed download now opens file folder
  CHANGELOG.md
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/utils/SwtUtils.scala
Due: ui

Slight style change, helper for error-showing listeners
  src/main/scala/org/fs/mael/ui/DialogController.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/components/AboutDialogController.scala
  src/main/scala/org/fs/mael/ui/config/GlobalSettingsController.scala
  src/main/scala/org/fs/mael/ui/utils/SwtUtils.scala
Due: ui

Removed duplicate declaration of OS-specific SWT dependencies
  build.sbt
Due: none

Version bumped to 1.0
  CHANGELOG.md
  README.md
  build.sbt
Due: none

Version bumped to 1.0-SNAPSHOT
  CHANGELOG.md
  build.sbt
Due: none

Fixed "Content-Disposition: attachment; filename" not using ISO-8859-1 charset as per RFC 6266
  CHANGELOG.md
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
  src/main/scala/org/fs/mael/backend/http/utils/HttpUtils.scala
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderSpec.scala
Due: backend

Explicitly specified OpenJDK 8 (and bumped Scala version) in Travis CI config
  .travis.yml
Due: none

Path conditions:
  core: any of: src/main/scala/org/fs/mael/core/
  backend: any of: src/main/scala/org/fs/mael/backend/
  ui: any of: src/main/scala/org/fs/mael/ui/
