Repository frozenspider/maelstrom-downloader: changes, and which Codecov flags are due for each by the changed paths.
All: core, backend, ui

Updated Scala and SBT versions to latest
  build.sbt
  project/build.properties
Due: none

Subclassed config stores onto Global and Backend
  src/main/scala/org/fs/mael/MaelstromDownloaderMain.scala
  src/main/scala/org/fs/mael/backend/http/HttpBackend.scala
  src/main/scala/org/fs/mael/core/backend/AbstractBackend.scala
  src/main/scala/org/fs/mael/core/backend/Backend.scala
  src/main/scala/org/fs/mael/core/backend/ui/AbstractBackendConfigUi.scala
  src/main/scala/org/fs/mael/core/backend/ui/BackendConfigUi.scala
  src/main/scala/org/fs/mael/core/backend/ui/BackendConfigUiImpl.scala
  src/main/scala/org/fs/mael/core/config/BackendConfigStore.scala
  src/main/scala/org/fs/mael/core/config/FileBackedConfigStore.scala
  src/main/scala/org/fs/mael/core/config/GlobalConfigStore.scala
  src/main/scala/org/fs/mael/core/config/IGlobalConfigStore.scala
  src/main/scala/org/fs/mael/core/config/InMemoryConfigStore.scala
  src/main/scala/org/fs/mael/core/entry/DownloadEntry.scala
  src/main/scala/org/fs/mael/core/entry/DownloadEntryView.scala
  src/main/scala/org/fs/mael/core/list/DownloadListSerializerImpl.scala
  src/main/scala/org/fs/mael/core/migration/MigrationManager.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/components/DownloadsTable.scala
  src/main/scala/org/fs/mael/ui/config/GlobalSettingsController.scala
  src/test/scala/org/fs/mael/backend/http/HttpBackendSpec.scala
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderSpec.scala
  src/test/scala/org/fs/mael/core/list/DownloadListManagerSpec.scala
  src/test/scala/org/fs/mael/core/list/DownloadListSerializerImplSpec.scala
  src/test/scala/org/fs/mael/core/migration/MigrationManagerSpec.scala
  src/test/scala/org/fs/mael/core/speed/SpeedTrackerSpec.scala
  src/test/scala/org/fs/mael/test/TestUtils.scala
  src/test/scala/org/fs/mael/test/stub/AbstractSimpleBackend.scala
Due: core, backend, ui

Reworking InMemoryConfigStore/BackendConfigStore separation
  src/main/scala/org/fs/mael/core/backend/ui/AbstractBackendConfigUi.scala
  src/main/scala/org/fs/mael/core/config/BackendConfigStore.scala
  src/main/scala/org/fs/mael/core/config/ConfigStore.scala
  src/main/scala/org/fs/mael/core/config/IConfigStore.scala
  src/main/scala/org/fs/mael/core/config/InMemoryConfigStore.scala
  src/main/scala/org/fs/mael/core/config/SettingsAccessChecker.scala
  src/main/scala/org/fs/mael/core/entry/DownloadEntry.scala
  src/main/scala/org/fs/mael/core/list/DownloadListSerializerImpl.scala
  tenor GIF.txt
Due: core

InMemoryConfigStore/BackendConfigStore separation done
  src/main/scala/org/fs/mael/MaelstromDownloaderMain.scala
  src/main/scala/org/fs/mael/backend/http/HttpBackend.scala
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
  src/main/scala/org/fs/mael/core/backend/AbstractBackend.scala
  src/main/scala/org/fs/mael/core/backend/Backend.scala
  src/main/scala/org/fs/mael/core/backend/ui/AbstractBackendConfigUi.scala
  src/main/scala/org/fs/mael/core/backend/ui/BackendConfigUiImpl.scala
  src/main/scala/org/fs/mael/core/config/BackendConfigStore.scala
  src/main/scala/org/fs/mael/core/config/ConfigStore.scala
  src/main/scala/org/fs/mael/core/config/DefaultSettingsAccessChecker.scala
  src/main/scala/org/fs/mael/core/config/InMemoryConfigStore.scala
  src/main/scala/org/fs/mael/core/config/SettingsAccessChecker.scala
  src/main/scala/org/fs/mael/core/entry/DownloadEntry.scala
  src/main/scala/org/fs/mael/core/list/DownloadListSerializerImpl.scala
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderSpec.scala
  src/test/scala/org/fs/mael/core/config/BackendConfigStoreSpec.scala
  src/test/scala/org/fs/mael/core/config/InMemoryConfigStoreSpec.scala
  src/test/scala/org/fs/mael/core/list/DownloadListManagerSpec.scala
  src/test/scala/org/fs/mael/core/list/DownloadListSerializerImplSpec.scala
  src/test/scala/org/fs/mael/core/migration/MigrationManagerSpec.scala
  src/test/scala/org/fs/mael/core/speed/SpeedTrackerSpec.scala
  src/test/scala/org/fs/mael/test/TestUtils.scala
  src/test/scala/org/fs/mael/test/stub/AbstractSimpleBackend.scala
  src/test/scala/org/fs/mael/test/stub/StubBackend.scala
Due: core, backend

Restricted access to InMemoryConfigStore stored in BackendConfigStore
  src/main/scala/org/fs/mael/core/backend/ui/BackendConfigUiImpl.scala
  src/main/scala/org/fs/mael/core/config/BackendConfigStore.scala
  src/main/scala/org/fs/mael/ui/config/MFieldEditorPreferencePage.scala
Due: core, ui

Added migration, fixed issue with serialization
  src/main/scala/org/fs/mael/core/list/DownloadListSerializerImpl.scala
  src/main/scala/org/fs/mael/core/migration/MigrationManager.scala
Due: core

Import cleanup, removed erroneously added txt file
  src/main/scala/org/fs/mael/backend/http/HttpBackend.scala
  src/main/scala/org/fs/mael/core/entry/DownloadEntry.scala
  tenor GIF.txt
Due: core, backend

Renamed networkTimeout to connection.timeout
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/config/GlobalSettings.scala
Due: ui

Introduced ConfigSettingLocalEntity
  src/main/scala/org/fs/mael/MaelstromDownloaderMain.scala
  src/main/scala/org/fs/mael/backend/http/config/HttpSettings.scala
  src/main/scala/org/fs/mael/core/backend/AbstractBackend.scala
  src/main/scala/org/fs/mael/core/config/BackendConfigStore.scala
  src/main/scala/org/fs/mael/core/config/ConfigSetting.scala
  src/main/scala/org/fs/mael/core/config/ConfigSettingLocalValue.scala
  src/main/scala/org/fs/mael/core/config/FileBackedConfigStore.scala
  src/main/scala/org/fs/mael/core/config/GlobalConfigStore.scala
  src/main/scala/org/fs/mael/core/config/IConfigStore.scala
  src/main/scala/org/fs/mael/core/config/IConfigStoreImpl.scala
  src/main/scala/org/fs/mael/core/config/IGlobalConfigStore.scala
  src/main/scala/org/fs/mael/core/config/InMemoryConfigStore.scala
  src/main/scala/org/fs/mael/core/list/DownloadListSerializerImpl.scala
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderSpec.scala
  src/test/scala/org/fs/mael/core/config/BackendConfigStoreSpec.scala
  src/test/scala/org/fs/mael/core/config/ConfigStoreSpec.scala
  src/test/scala/org/fs/mael/core/list/DownloadListManagerSpec.scala
  src/test/scala/org/fs/mael/core/list/DownloadListSerializerImplSpec.scala
  src/test/scala/org/fs/mael/core/speed/SpeedTrackerSpec.scala
  src/test/scala/org/fs/mael/test/TestUtils.scala
Due: core, backend

ConnectionProxy settings
  src/main/scala/org/fs/mael/backend/http/config/HttpSettings.scala
  src/main/scala/org/fs/mael/core/config/BackendConfigStore.scala
  src/main/scala/org/fs/mael/core/config/ConfigSetting.scala
  src/main/scala/org/fs/mael/core/config/proxy/Proxy.scala
  src/main/scala/org/fs/mael/ui/config/GlobalSettings.scala
Due: core, backend, ui

Bunch of renames, fixed tests
  src/main/scala/org/fs/mael/backend/http/config/HttpSettings.scala
  src/main/scala/org/fs/mael/core/config/BackendConfigStore.scala
  src/main/scala/org/fs/mael/core/config/ConfigSetting.scala
  src/main/scala/org/fs/mael/core/config/IConfigStore.scala
  src/main/scala/org/fs/mael/core/config/IConfigStoreImpl.scala
  src/main/scala/org/fs/mael/core/config/IGlobalConfigStore.scala
  src/main/scala/org/fs/mael/core/config/LocalConfigSettingValue.scala
  src/main/scala/org/fs/mael/core/config/proxy/Proxy.scala
  src/test/scala/org/fs/mael/core/config/BackendConfigStoreSpec.scala
  src/test/scala/org/fs/mael/core/config/InMemoryConfigStoreSpec.scala
Due: core, backend

Another attempt to fix config store tests
  src/test/scala/org/fs/mael/core/config/BackendConfigStoreSpec.scala
  src/test/scala/org/fs/mael/core/config/InMemoryConfigStoreSpec.scala
Due: none

Test coverage for reference and local settings
  src/main/scala/org/fs/mael/core/config/LocalConfigSettingValue.scala
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderSpec.scala
  src/test/scala/org/fs/mael/core/config/BackendConfigStoreSpec.scala
  src/test/scala/org/fs/mael/core/config/ConfigStoreSpec.scala
  src/test/scala/org/fs/mael/core/list/DownloadListManagerSpec.scala
  src/test/scala/org/fs/mael/core/list/DownloadListSerializerImplSpec.scala
  src/test/scala/org/fs/mael/core/speed/SpeedTrackerSpec.scala
  src/test/scala/org/fs/mael/test/TestUtils.scala
Due: core

Proxy global editor
  src/main/scala/org/fs/mael/backend/http/config/HttpSettings.scala
  src/main/scala/org/fs/mael/core/backend/ui/BackendConfigUiImpl.scala
  src/main/scala/org/fs/mael/core/config/ConfigSetting.scala
  src/main/scala/org/fs/mael/core/config/proxy/Proxy.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/main/scala/org/fs/mael/ui/components/ConfigAware.scala
  src/main/scala/org/fs/mael/ui/components/DownloadsTable.scala
  src/main/scala/org/fs/mael/ui/components/LogTable.scala
  src/main/scala/org/fs/mael/ui/components/proxy/ProxyEditor.scala
  src/main/scala/org/fs/mael/ui/components/proxy/ProxyGlobalFieldEditor.scala
  src/main/scala/org/fs/mael/ui/config/GlobalSettings.scala
  src/main/scala/org/fs/mael/ui/config/MFieldEditorPreferencePage.scala
  src/main/scala/org/fs/mael/ui/utils/SwtUtils.scala
  src/test/scala/org/fs/mael/core/config/BackendConfigStoreSpec.scala
  src/test/scala/org/fs/mael/core/config/ConfigStoreSpec.scala
Due: core, backend, ui

Changed default for Seq[Proxy] setting from Seq.empty to Seq(NoProxy)
  src/main/scala/org/fs/mael/core/config/ConfigSetting.scala
  src/main/scala/org/fs/mael/ui/config/GlobalSettings.scala
  src/test/scala/org/fs/mael/core/config/BackendConfigStoreSpec.scala
  src/test/scala/org/fs/mael/core/config/ConfigStoreSpec.scala
Due: core, ui

Host name defaults to `localhost`, added host name sanity check
  src/main/scala/org/fs/mael/ui/components/proxy/ProxyEditor.scala
Due: ui

Added proxy entry in CHANGELOG
  CHANGELOG.md
Due: none

ProxyEditor renamed to ProxyEditorComponent, + render(proxy, editable)
  src/main/scala/org/fs/mael/ui/components/proxy/ProxyEditorComponent.scala
  src/main/scala/org/fs/mael/ui/components/proxy/ProxyGlobalFieldEditor.scala
Due: ui

Added scaladoc comments
  src/main/scala/org/fs/mael/ui/components/proxy/ProxyEditorComponent.scala
  src/main/scala/org/fs/mael/ui/components/proxy/ProxyGlobalFieldEditor.scala
Due: ui

Reworked preference page definitions to be aware of config type
  src/main/scala/org/fs/mael/backend/http/config/HttpSettings.scala
  src/main/scala/org/fs/mael/core/backend/AbstractBackend.scala
  src/main/scala/org/fs/mael/core/backend/ui/AbstractBackendConfigUi.scala
  src/main/scala/org/fs/mael/core/backend/ui/BackendConfigUiImpl.scala
  src/main/scala/org/fs/mael/ui/components/ConfigAware.scala
  src/main/scala/org/fs/mael/ui/components/proxy/ProxyGlobalFieldEditor.scala
  src/main/scala/org/fs/mael/ui/config/EmptyPreferencePage.scala
  src/main/scala/org/fs/mael/ui/config/GlobalSettings.scala
  src/main/scala/org/fs/mael/ui/config/GlobalSettingsController.scala
  src/main/scala/org/fs/mael/ui/config/MFieldEditorPreferencePage.scala
  src/main/scala/org/fs/mael/ui/config/MPreferenceNode.scala
  src/main/scala/org/fs/mael/ui/config/MPreferencePageDescriptor.scala
Due: core, backend, ui

Changed the way ProxyEditorComponent restricts its edition capabilities
  src/main/scala/org/fs/mael/ui/components/proxy/ProxyEditorComponent.scala
Due: ui

Deleting proxy prompts for confirmation
  src/main/scala/org/fs/mael/ui/components/proxy/ProxyGlobalFieldEditor.scala
Due: ui

Updated ProxyEditorComponent validation and callback handling
  src/main/scala/org/fs/mael/ui/components/proxy/ProxyEditorComponent.scala
  src/main/scala/org/fs/mael/ui/components/proxy/ProxyGlobalFieldEditor.scala
Due: ui

Changed ProxyEditorComponent to not affect parent's Apply button
  src/main/scala/org/fs/mael/ui/components/proxy/ProxyEditorComponent.scala
Due: ui

Added ability to hide proxy name editor in ProxyEditorComponent
  src/main/scala/org/fs/mael/ui/components/proxy/ProxyEditorComponent.scala
  src/main/scala/org/fs/mael/ui/components/proxy/ProxyGlobalFieldEditor.scala
Due: ui

Changed download details editor popup validation strategy
  src/main/scala/org/fs/mael/core/backend/ui/AbstractBackendConfigUi.scala
  src/main/scala/org/fs/mael/ui/config/MFieldEditorPreferencePage.scala
Due: core, ui

Local proxy editor
  src/main/scala/org/fs/mael/backend/http/config/HttpSettings.scala
  src/main/scala/org/fs/mael/core/config/BackendConfigStore.scala
  src/main/scala/org/fs/mael/core/config/ConfigSetting.scala
  src/main/scala/org/fs/mael/ui/components/proxy/ProxyLocalFieldEditor.scala
Due: core, backend, ui

Added width hints to ProxyGlobalFieldEditor components
  src/main/scala/org/fs/mael/ui/components/proxy/ProxyGlobalFieldEditor.scala
Due: ui

Minor code style changes
  src/main/scala/org/fs/mael/backend/http/config/HttpSettings.scala
  src/main/scala/org/fs/mael/ui/components/proxy/ProxyEditorComponent.scala
  src/main/scala/org/fs/mael/ui/components/proxy/ProxyGlobalFieldEditor.scala
  src/main/scala/org/fs/mael/ui/components/proxy/ProxyLocalFieldEditor.scala
  src/main/scala/org/fs/mael/ui/utils/SwtUtils.scala
Due: backend, ui

Moved binding component state to button selection to SwtUtils
  src/main/scala/org/fs/mael/ui/components/proxy/ProxyLocalFieldEditor.scala
  src/main/scala/org/fs/mael/ui/utils/SwtUtils.scala
Due: ui

Implemented SOCKS5 mock proxy for testing purposes
  src/test/scala/org/fs/mael/test/proxy/Socks5MockProxy.scala
Due: none

Extracted base spec from HttpDownloaderSpec
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderSpec.scala
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderSpecBase.scala
Due: none

Code rearrangement/cleanup
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
  src/main/scala/org/fs/mael/backend/http/HttpMessageParserLoggingFactory.scala
  src/main/scala/org/fs/mael/backend/http/HttpMessageWriterLoggingFactory.scala
  src/main/scala/org/fs/mael/backend/http/config/HttpSettings.scala
  src/main/scala/org/fs/mael/core/config/proxy/Proxy.scala
  src/main/scala/org/fs/mael/core/proxy/Proxy.scala
  src/main/scala/org/fs/mael/core/utils/IoUtils.scala
  src/main/scala/org/fs/mael/ui/components/proxy/ProxyEditorComponent.scala
  src/main/scala/org/fs/mael/ui/components/proxy/ProxyGlobalFieldEditor.scala
  src/main/scala/org/fs/mael/ui/components/proxy/ProxyLocalFieldEditor.scala
  src/main/scala/org/fs/mael/ui/config/GlobalSettings.scala
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderSpec.scala
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderSpecBase.scala
  src/test/scala/org/fs/mael/test/proxy/Socks5MockProxy.scala
Due: core, backend, ui

Integrating SOCKS5 proxy into HttpDownloader (so far - non-SSL only)
  src/main/scala/org/fs/mael/backend/http/FakeDnsResolver.scala
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
  src/main/scala/org/fs/mael/backend/http/ProxyConnectionSocketFactory.scala
  src/main/scala/org/fs/mael/core/utils/IoUtils.scala
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderProxySpec.scala
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderSpecBase.scala
  src/test/scala/org/fs/mael/test/proxy/Socks5MockProxy.scala
Due: core, backend

Added jcl-over-slf4j bridge to forward Apache HttpClient log
  build.sbt
  src/main/resources/logback.xml
Due: none

SBT version bumped to 1.2.1
  project/build.properties
Due: none

Integrated FakeDnsResolver and enforced its usage
  src/main/scala/org/fs/mael/backend/http/FakeDnsResolver.scala
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
  src/main/scala/org/fs/mael/backend/http/ProxyConnectionSocketFactory.scala
Due: backend

Bunch of test fixes, disabled concurrent test execution
  build.sbt
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderProxySpec.scala
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderSpec.scala
  src/test/scala/org/fs/mael/backend/http/HttpDownloaderSpecBase.scala
  src/test/scala/org/fs/mael/core/config/BackendConfigStoreSpec.scala
  src/test/scala/org/fs/mael/core/config/ConfigStoreSpec.scala
  src/test/scala/org/fs/mael/core/config/InMemoryConfigStoreSpec.scala
  src/test/scala/org/fs/mael/core/utils/CoreUtilsSpec.scala
Due: backend

Proxy connection start and finish is now shown in download log
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
  src/main/scala/org/fs/mael/backend/http/ProxyConnectionSocketFactory.scala
Due: backend

Added caching of Maven dependencies to Travis CI config
  .travis.yml
Due: none

Path conditions:
  core: any of: src/main/scala/org/fs/mael/core/
  backend: any of: src/main/scala/org/fs/mael/backend/
  ui: any of: src/main/scala/org/fs/mael/ui/
