Repository frozenspider/maelstrom-downloader: changes, and which Codecov flags are due for each by the changed paths.
All: core, backend, ui

.codecov.yml:

coverage:
  range: "50...90"

flags:
  core:
    paths:
      - src/main/scala/org/fs/mael/core/
  backend:
    paths:
      - src/main/scala/org/fs/mael/backend/
  ui:
    paths:
      - src/main/scala/org/fs/mael/ui/

#27: Fixed invalid dependency usage, changed integrity violated message
  src/main/scala/org/fs/mael/backend/http/HttpBackendDownloader.scala
  src/main/scala/org/fs/mael/core/backend/BackendDownloader.scala
  src/main/scala/org/fs/mael/core/checksum/Checksums.scala
Due: core, backend

#27: Minor code cleanup
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/main/scala/org/fs/mael/ui/utils/SwtUtils.scala
Due: ui

Slightly reworked main frame holder structure and init process
  src/main/scala/org/fs/mael/MaelstromDownloaderMain.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
Due: ui

Implemented "delete with file"
  CHANGELOG.md
  src/main/scala/org/fs/mael/backend/http/HttpBackendDownloader.scala
  src/main/scala/org/fs/mael/core/backend/BackendDownloader.scala
  src/main/scala/org/fs/mael/core/entry/DownloadEntryView.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
Due: core, backend, ui

Added main table popup menu separators
  src/main/scala/org/fs/mael/ui/MainFrame.scala
Due: ui

Implemented main table sorting
  src/main/scala/org/fs/mael/core/list/DownloadListManager.scala
  src/main/scala/org/fs/mael/ui/ConfigManager.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/components/DownloadsTable.scala
  src/test/scala/org/fs/mael/core/list/DownloadListManagerSpec.scala
Due: core, ui

Table sorting is now persisted in config store
  src/main/scala/org/fs/mael/ui/ConfigManager.scala
  src/main/scala/org/fs/mael/ui/ConfigOptions.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/components/DownloadsTable.scala
Due: ui

Fixed string sorting of typed data, re-sorting table on data update
  CHANGELOG.md
  src/main/scala/org/fs/mael/core/entry/DownloadEntryView.scala
  src/main/scala/org/fs/mael/ui/components/DownloadsTable.scala
Due: core, ui

Fixed line wrapping in URI and comment fields in download properties
  CHANGELOG.md
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
Due: ui

Added explicit filename field to download properties
  CHANGELOG.md
  src/main/scala/org/fs/mael/backend/http/HttpBackendDownloader.scala
  src/main/scala/org/fs/mael/core/utils/CoreUtils.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/test/scala/org/fs/mael/core/utils/CoreUtilsSpec.scala
Due: core, backend, ui

Version bumped to 0.2
  CHANGELOG.md
  build.sbt
Due: none

Version changed to SNAPSHOT
  CHANGELOG.md
  build.sbt
Due: none

Only re-render log table if the download isn't re-selected
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/components/LogTable.scala
Due: ui

#7: Added new config option
  src/main/scala/org/fs/mael/ui/ConfigManager.scala
  src/main/scala/org/fs/mael/ui/ConfigOptions.scala
Due: ui

#7: Preferences field editor for minimize to tray
  src/main/scala/org/fs/mael/ui/ConfigManager.scala
  src/main/scala/org/fs/mael/ui/ConfigOptions.scala
  src/main/scala/org/fs/mael/ui/components/RichFieldEditorPreferencePage.scala
Due: ui

Preferences UI separated from config manager
  src/main/scala/org/fs/mael/ui/ConfigManager.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/prefs/GlobalPreferences.scala
  src/main/scala/org/fs/mael/ui/prefs/RichFieldEditorPreferencePage.scala
Due: ui

Config manager added to core components, remade defaults
  src/main/scala/org/fs/mael/MaelstromDownloaderMain.scala
  src/main/scala/org/fs/mael/core/config/ConfigManager.scala
  src/main/scala/org/fs/mael/core/config/ConfigOption.scala
  src/main/scala/org/fs/mael/ui/ConfigOptions.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/components/DownloadsTable.scala
  src/main/scala/org/fs/mael/ui/prefs/GlobalPreferences.scala
  src/main/scala/org/fs/mael/ui/prefs/RichFieldEditorPreferencePage.scala
Due: core, ui

Reworked config and preferences, embedded defaults into definition
  src/main/scala/org/fs/mael/core/config/ConfigManager.scala
  src/main/scala/org/fs/mael/core/config/ConfigOption.scala
  src/main/scala/org/fs/mael/core/utils/CoreUtils.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/components/DownloadsTable.scala
  src/main/scala/org/fs/mael/ui/prefs/GlobalPreferences.scala
  src/main/scala/org/fs/mael/ui/prefs/MFieldEditorPreferencePage.scala
  src/main/scala/org/fs/mael/ui/prefs/MPreferenceNode.scala
Due: core, ui

#7: Handling system tray
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/utils/SwtUtils.scala
Due: ui

#7: Minimize to tray implemented
  src/main/scala/org/fs/mael/ui/MainFrame.scala
Due: ui

#7: Tray icon management
  src/main/scala/org/fs/mael/ui/MainFrame.scala
Due: ui

#7: Watching global config setting for tray icon
  src/main/scala/org/fs/mael/core/config/ConfigManager.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/prefs/GlobalPreferences.scala
Due: core, ui

Config options renamed to config settings
  src/main/scala/org/fs/mael/core/config/ConfigManager.scala
  src/main/scala/org/fs/mael/core/config/ConfigOption.scala
  src/main/scala/org/fs/mael/core/config/ConfigSetting.scala
  src/main/scala/org/fs/mael/ui/prefs/GlobalPreferences.scala
  src/main/scala/org/fs/mael/ui/prefs/MFieldEditorPreferencePage.scala
Due: core, ui

#7: Note in CHANGELOG
  CHANGELOG.md
Due: none

ConfigManager split onto trait and implementation
  src/main/scala/org/fs/mael/MaelstromDownloaderMain.scala
  src/main/scala/org/fs/mael/core/config/ConfigManager.scala
  src/main/scala/org/fs/mael/core/config/FileBackedConfigManager.scala
Due: core

#3: Framework for backend config layout
  src/main/scala/org/fs/mael/backend/http/HttpBackend.scala
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
  src/main/scala/org/fs/mael/backend/http/ui/HttpConfigUi.scala
  src/main/scala/org/fs/mael/core/backend/Backend.scala
  src/main/scala/org/fs/mael/core/backend/BackendConfigUi.scala
  src/test/scala/org/fs/mael/backend/http/HttpBackendDownloaderSpec.scala
  src/test/scala/org/fs/mael/test/stub/AbstractSimpleBackend.scala
Due: core, backend

#3: Layout additional tabs when Advanced is clicked or backend is fixed
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/main/scala/org/fs/mael/ui/utils/SwtUtils.scala
Due: ui

#3: Backend-specific data is now used for entry creation
  src/main/scala/org/fs/mael/MaelstromDownloaderMain.scala
  src/main/scala/org/fs/mael/backend/http/HttpBackend.scala
  src/main/scala/org/fs/mael/backend/http/HttpDataSerializer.scala
  src/main/scala/org/fs/mael/backend/http/HttpEntryData.scala
  src/main/scala/org/fs/mael/backend/http/ui/HttpConfigUi.scala
  src/main/scala/org/fs/mael/core/backend/Backend.scala
  src/main/scala/org/fs/mael/core/config/InMemoryConfigManager.scala
  src/main/scala/org/fs/mael/core/entry/DownloadEntry.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/test/scala/org/fs/mael/backend/http/HttpBackendDownloaderSpec.scala
  src/test/scala/org/fs/mael/backend/http/HttpBackendSpec.scala
  src/test/scala/org/fs/mael/core/backend/BackendManagerSpec.scala
  src/test/scala/org/fs/mael/core/event/EventManagerImplSpec.scala
  src/test/scala/org/fs/mael/core/list/DownloadListManagerSpec.scala
  src/test/scala/org/fs/mael/core/list/DownloadListSerializerImplSpec.scala
  src/test/scala/org/fs/mael/test/stub/AbstractSimpleBackend.scala
  src/test/scala/org/fs/mael/test/stub/StubBackend.scala
Due: core, backend, ui

#3: Minor code style tweaks
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/test/scala/org/fs/mael/core/backend/BackendManagerSpec.scala
  src/test/scala/org/fs/mael/test/stub/AbstractSimpleBackend.scala
  src/test/scala/org/fs/mael/test/stub/FixedDataSerializer.scala
  src/test/scala/org/fs/mael/test/stub/StubBackend.scala
Due: ui

#3: Equality and serialization of HttpEntryData
  src/main/scala/org/fs/mael/backend/http/HttpDataSerializer.scala
  src/main/scala/org/fs/mael/backend/http/HttpEntryData.scala
Due: backend

#3: Optional string config type
  src/main/scala/org/fs/mael/core/config/ConfigManager.scala
  src/main/scala/org/fs/mael/core/config/ConfigSetting.scala
Due: core

#3: Render/save/load setting for existing entry; example HTTP setting
  src/main/scala/org/fs/mael/backend/http/HttpBackend.scala
  src/main/scala/org/fs/mael/backend/http/ui/HttpConfigUi.scala
  src/main/scala/org/fs/mael/backend/http/ui/HttpPreferences.scala
  src/main/scala/org/fs/mael/core/backend/Backend.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/prefs/GlobalPreferences.scala
  src/main/scala/org/fs/mael/ui/prefs/MFieldEditorPreferencePage.scala
  src/test/scala/org/fs/mael/test/stub/AbstractSimpleBackend.scala
Due: core, backend, ui

#3: Replacing BackendSpecificEntryData with InMemoryConfigManager
  src/main/scala/org/fs/mael/MaelstromDownloaderMain.scala
  src/main/scala/org/fs/mael/backend/http/HttpBackend.scala
  src/main/scala/org/fs/mael/backend/http/HttpDataSerializer.scala
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
  src/main/scala/org/fs/mael/backend/http/HttpEntryData.scala
  src/main/scala/org/fs/mael/backend/http/ui/HttpConfigUi.scala
  src/main/scala/org/fs/mael/backend/http/ui/HttpPreferences.scala
  src/main/scala/org/fs/mael/core/backend/Backend.scala
  src/main/scala/org/fs/mael/core/backend/BackendConfigUi.scala
  src/main/scala/org/fs/mael/core/backend/BackendDataSerializer.scala
  src/main/scala/org/fs/mael/core/backend/BackendDownloader.scala
  src/main/scala/org/fs/mael/core/backend/BackendManager.scala
  src/main/scala/org/fs/mael/core/backend/BackendWithEntry.scala
  src/main/scala/org/fs/mael/core/config/ConfigManager.scala
  src/main/scala/org/fs/mael/core/config/InMemoryConfigManager.scala
  src/main/scala/org/fs/mael/core/entry/BackendSpecificEntryData.scala
  src/main/scala/org/fs/mael/core/entry/DownloadEntry.scala
  src/main/scala/org/fs/mael/core/entry/DownloadEntryView.scala
  src/main/scala/org/fs/mael/core/event/EventManager.scala
  src/main/scala/org/fs/mael/core/event/Events.scala
  src/main/scala/org/fs/mael/core/list/DownloadListManager.scala
  src/main/scala/org/fs/mael/core/list/DownloadListSerializer.scala
  src/main/scala/org/fs/mael/core/list/DownloadListSerializerImpl.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/test/scala/org/fs/mael/backend/http/HttpBackendDownloaderSpec.scala
  src/test/scala/org/fs/mael/core/backend/BackendManagerSpec.scala
  src/test/scala/org/fs/mael/core/list/DownloadListManagerSpec.scala
  src/test/scala/org/fs/mael/core/list/DownloadListSerializerImplSpec.scala
  src/test/scala/org/fs/mael/test/TestUtils.scala
  src/test/scala/org/fs/mael/test/stub/AbstractSimpleBackend.scala
  src/test/scala/org/fs/mael/test/stub/FixedDataSerializer.scala
  src/test/scala/org/fs/mael/test/stub/StubBackend.scala
  src/test/scala/org/fs/mael/test/stub/StubDownloadListSerializer.scala
Due: core, backend, ui

#3: Minor tweaks
  src/main/scala/org/fs/mael/MaelstromDownloaderMain.scala
  src/main/scala/org/fs/mael/backend/http/ui/HttpConfigUi.scala
  src/main/scala/org/fs/mael/core/backend/BackendManager.scala
  src/main/scala/org/fs/mael/core/config/ConfigManager.scala
  src/main/scala/org/fs/mael/core/list/DownloadListSerializerImpl.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
Due: core, backend, ui

Intercepting exception thrown from EditDownloadDialog init phase
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
Due: ui

Implemented (primitive) migrations
  src/main/scala/org/fs/mael/MaelstromDownloaderMain.scala
  src/main/scala/org/fs/mael/backend/http/HttpBackend.scala
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
  src/main/scala/org/fs/mael/backend/http/ui/HttpConfigUi.scala
  src/main/scala/org/fs/mael/core/list/DownloadListManager.scala
  src/main/scala/org/fs/mael/core/migration/MigrationManager.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/components/DownloadsTable.scala
  src/main/scala/org/fs/mael/ui/prefs/GlobalPreferences.scala
  src/test/scala/org/fs/mael/backend/http/HttpBackendDownloaderSpec.scala
  src/test/scala/org/fs/mael/core/checksum/ChecksumsSpec.scala
  src/test/scala/org/fs/mael/core/list/DownloadListManagerSpec.scala
  src/test/scala/org/fs/mael/core/migration/MigrationManagerSpec.scala
  src/test/scala/org/fs/mael/test/TestUtils.scala
Due: core, backend, ui

#3: Rework and test coverage for settings
  src/main/scala/org/fs/mael/backend/http/ui/HttpConfigUi.scala
  src/main/scala/org/fs/mael/backend/http/ui/HttpPreferences.scala
  src/main/scala/org/fs/mael/core/config/ConfigManager.scala
  src/main/scala/org/fs/mael/core/config/ConfigSetting.scala
  src/main/scala/org/fs/mael/core/config/InMemoryConfigManager.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/prefs/GlobalPreferences.scala
  src/test/scala/org/fs/mael/core/config/ConfigManagerSpec.scala
  src/test/scala/org/fs/mael/core/config/InMemoryConfigManagerSpec.scala
  src/test/scala/org/fs/mael/test/TestUtils.scala
  src/test/scala/org/fs/mael/test/stub/StubBackend.scala
Due: core, backend, ui

#3: Make advanced settings non-editable if download is running/complete
  src/main/scala/org/fs/mael/backend/http/HttpBackend.scala
  src/main/scala/org/fs/mael/backend/http/ui/HttpConfigUi.scala
  src/main/scala/org/fs/mael/core/backend/Backend.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/main/scala/org/fs/mael/ui/prefs/MFieldEditorPreferencePage.scala
  src/main/scala/org/fs/mael/ui/utils/SwtUtils.scala
  src/test/scala/org/fs/mael/test/stub/AbstractSimpleBackend.scala
Due: core, backend, ui

#3: Comment updates
  src/main/scala/org/fs/mael/backend/http/ui/HttpConfigUi.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
Due: backend, ui

#3: Remade ConfigSetting once again, improved tests
  src/main/scala/org/fs/mael/core/config/ConfigManager.scala
  src/main/scala/org/fs/mael/core/config/ConfigSetting.scala
  src/main/scala/org/fs/mael/core/config/InMemoryConfigManager.scala
  src/main/scala/org/fs/mael/core/migration/MigrationManager.scala
  src/main/scala/org/fs/mael/ui/prefs/GlobalPreferences.scala
  src/test/scala/org/fs/mael/core/config/ConfigManagerSpec.scala
  src/test/scala/org/fs/mael/core/config/InMemoryConfigManagerSpec.scala
Due: core, ui
