Repository frozenspider/maelstrom-downloader: changes, and which Codecov flags are due for each by the changed paths.
All: core, backend, ui

.codecov.yml:

coverage:
  range: "40...70"

  # Workaround for unexpected coverage decrease
  status:
    project:
      default:
        enabled:   true
        threshold: 4
    patch: false

flags:
  core:
    paths:
      - src/main/scala/org/fs/mael/core/
  backend:
    paths:
      - src/main/scala/org/fs/mael/backend/
  ui:
    paths:
      - src/main/scala/org/fs/mael/ui/

Cookie parsing and edition: WIP
  src/main/scala/org/fs/mael/backend/http/HttpUtils.scala
  src/main/scala/org/fs/mael/backend/http/ui/CookiesConfigSetting.scala
  src/main/scala/org/fs/mael/backend/http/ui/CookiesFieldEditor.scala
Due: backend

Placeholders for #39 and #40
  src/main/scala/org/fs/mael/backend/http/HttpUtils.scala
Due: backend

Small style fixes
  src/main/scala/org/fs/mael/backend/http/ui/CookiesConfigSetting.scala
  src/main/scala/org/fs/mael/backend/http/ui/CookiesFieldEditor.scala
Due: backend

Cookies editor, initial (working!) implementation
  src/main/scala/org/fs/mael/backend/http/ui/CookiesFieldEditor.scala
  src/main/scala/org/fs/mael/backend/http/ui/CookiesFieldEditorDialog.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/utils/SwtUtils.scala
Due: backend, ui

Cookies validation
  src/main/scala/org/fs/mael/backend/http/ui/CookiesConfigSetting.scala
  src/main/scala/org/fs/mael/backend/http/ui/CookiesFieldEditorDialog.scala
Due: backend

"Add new row" button
  src/main/scala/org/fs/mael/backend/http/ui/CookiesFieldEditorDialog.scala
Due: backend

Added cookie editor menu bar and placeholder for import; fixed CHANGELOG
  CHANGELOG.md
  src/main/scala/org/fs/mael/backend/http/ui/CookiesFieldEditorDialog.scala
Due: backend

UI for cookies import
  src/main/scala/org/fs/mael/backend/http/HttpUtils.scala
  src/main/scala/org/fs/mael/backend/http/ui/CookiesFieldEditorDialog.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/main/scala/org/fs/mael/ui/utils/SwtUtils.scala
Due: backend, ui

CookiesConfigSetting moved out from ui subpackage
  src/main/scala/org/fs/mael/backend/http/CookiesConfigSetting.scala
  src/main/scala/org/fs/mael/backend/http/HttpSettings.scala
  src/main/scala/org/fs/mael/backend/http/ui/CookiesFieldEditor.scala
  src/main/scala/org/fs/mael/backend/http/ui/CookiesFieldEditorDialog.scala
Due: backend

Cookie characters validation moved to HttpUtils; added test coverage
  src/main/scala/org/fs/mael/backend/http/CookiesConfigSetting.scala
  src/main/scala/org/fs/mael/backend/http/HttpUtils.scala
  src/main/scala/org/fs/mael/backend/http/ui/CookiesFieldEditorDialog.scala
  src/test/scala/org/fs/mael/backend/http/HttpUtilsSpec.scala
Due: backend

Implemented client cookie parsing
  src/main/scala/org/fs/mael/backend/http/HttpUtils.scala
  src/main/scala/org/fs/mael/backend/http/ui/CookiesFieldEditorDialog.scala
  src/test/scala/org/fs/mael/backend/http/HttpUtilsSpec.scala
Due: backend

Slight visual and layout improvements
  src/main/scala/org/fs/mael/backend/http/ui/CookiesFieldEditor.scala
  src/main/scala/org/fs/mael/backend/http/ui/CookiesFieldEditorDialog.scala
Due: backend

Fixed missing parser-combinator dependency and style issues
  build.sbt
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
  src/main/scala/org/fs/mael/backend/http/ui/CookiesFieldEditorDialog.scala
  src/main/scala/org/fs/mael/ui/utils/SwtUtils.scala
Due: backend, ui

Fixed incorrect cookie import tooltip, removed commented test
  src/main/scala/org/fs/mael/backend/http/HttpUtils.scala
  src/main/scala/org/fs/mael/backend/http/ui/CookiesFieldEditorDialog.scala
  src/test/scala/org/fs/mael/backend/http/HttpUtilsSpec.scala
Due: backend

Extracted all non-cookie-specific stuff from CookiesFieldEditorDialog
  src/main/scala/org/fs/mael/backend/http/ui/CookiesFieldEditorDialog.scala
  src/main/scala/org/fs/mael/ui/components/PopupEditorDialog.scala
  src/main/scala/org/fs/mael/ui/components/StringTablePopupEditorDialog.scala
Due: backend, ui

Extracted all non-cookie-specific stuff from CookiesFieldEditor
  src/main/scala/org/fs/mael/backend/http/CookiesConfigSetting.scala
  src/main/scala/org/fs/mael/backend/http/ui/CookiesFieldEditor.scala
  src/main/scala/org/fs/mael/ui/components/PopupEditorDialog.scala
  src/main/scala/org/fs/mael/ui/components/StringTableFieldEditor.scala
Due: backend, ui

Added headers editor half-stub implementation
  src/main/scala/org/fs/mael/backend/http/HttpSettings.scala
  src/main/scala/org/fs/mael/backend/http/HttpUtils.scala
  src/main/scala/org/fs/mael/backend/http/ui/CookiesFieldEditorDialog.scala
  src/main/scala/org/fs/mael/backend/http/ui/HeadersFieldEditor.scala
  src/main/scala/org/fs/mael/backend/http/ui/HeadersFieldEditorDialog.scala
Due: backend

Cookies serialization moved to SimpleTableSerializer
  src/main/scala/org/fs/mael/backend/http/CookiesConfigSetting.scala
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
  src/main/scala/org/fs/mael/backend/http/ui/CookiesFieldEditor.scala
  src/main/scala/org/fs/mael/backend/http/ui/CookiesFieldEditorDialog.scala
  src/main/scala/org/fs/mael/backend/http/ui/HeadersFieldEditor.scala
  src/main/scala/org/fs/mael/backend/http/ui/HeadersFieldEditorDialog.scala
  src/main/scala/org/fs/mael/backend/http/utils/HttpUtils.scala
  src/main/scala/org/fs/mael/backend/http/utils/SimpleTableSerializer.scala
  src/test/scala/org/fs/mael/backend/http/utils/HttpUtilsSpec.scala
Due: backend

Extensive rework of settings and setting pages
  src/main/scala/org/fs/mael/backend/http/HttpBackend.scala
  src/main/scala/org/fs/mael/core/backend/Backend.scala
  src/main/scala/org/fs/mael/core/backend/BackendManager.scala
  src/main/scala/org/fs/mael/core/backend/ui/BackendConfigUiImpl.scala
  src/main/scala/org/fs/mael/core/config/ConfigSetting.scala
  src/main/scala/org/fs/mael/core/config/ConfigStore.scala
  src/main/scala/org/fs/mael/core/config/InMemoryConfigStore.scala
  src/main/scala/org/fs/mael/ui/config/GlobalSettingsController.scala
  src/main/scala/org/fs/mael/ui/config/MFieldEditorPreferencePage.scala
  src/test/scala/org/fs/mael/test/stub/AbstractSimpleBackend.scala
Due: core, backend, ui

Implemented setting custom headers
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
Due: backend

Fixed various issues with headers and cookies internal handling
  src/main/scala/org/fs/mael/backend/http/HeadersConfigSetting.scala
  src/main/scala/org/fs/mael/backend/http/HttpSettings.scala
  src/main/scala/org/fs/mael/backend/http/ui/CookiesFieldEditor.scala
  src/main/scala/org/fs/mael/backend/http/ui/HeadersFieldEditor.scala
  src/main/scala/org/fs/mael/backend/http/utils/HttpUtils.scala
  src/main/scala/org/fs/mael/backend/http/utils/SimpleTableSerializer.scala
Due: backend

Headers/cookies table is no longer disabled for complete downloads
  src/main/scala/org/fs/mael/ui/components/StringTableFieldEditor.scala
Due: ui

Updated CHANGELOG
  CHANGELOG.md
Due: none

HTTP settings moved to config subpackage
  src/main/scala/org/fs/mael/backend/http/HttpBackend.scala
  src/main/scala/org/fs/mael/backend/http/HttpDownloader.scala
  src/main/scala/org/fs/mael/backend/http/config/CookiesConfigSetting.scala
  src/main/scala/org/fs/mael/backend/http/config/HeadersConfigSetting.scala
  src/main/scala/org/fs/mael/backend/http/config/HttpSettings.scala
  src/main/scala/org/fs/mael/ui/config/GlobalSettingsController.scala
Due: backend, ui

Minor layout and style tweaks
  src/main/scala/org/fs/mael/backend/http/ui/CookiesFieldEditorDialog.scala
  src/main/scala/org/fs/mael/ui/config/GlobalSettingsController.scala
Due: backend, ui

Implemented headers parsing and validation
  src/main/scala/org/fs/mael/backend/http/ui/HeadersFieldEditorDialog.scala
  src/main/scala/org/fs/mael/backend/http/utils/HttpUtils.scala
  src/test/scala/org/fs/mael/backend/http/utils/HttpUtilsSpec.scala
Due: backend

Implemented Ctrl+C in cookies and headers tables
  src/main/scala/org/fs/mael/backend/http/ui/CookiesFieldEditor.scala
  src/main/scala/org/fs/mael/backend/http/ui/HeadersFieldEditor.scala
  src/main/scala/org/fs/mael/backend/http/utils/HttpUtils.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/components/StringTableFieldEditor.scala
  src/main/scala/org/fs/mael/ui/utils/SwtUtils.scala
  src/test/scala/org/fs/mael/backend/http/utils/HttpUtilsSpec.scala
Due: backend, ui

Clipboard-related stuff grouped into sub-object
  src/main/scala/org/fs/mael/backend/http/ui/CookiesFieldEditorDialog.scala
  src/main/scala/org/fs/mael/backend/http/ui/HeadersFieldEditorDialog.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/components/StringTableFieldEditor.scala
  src/main/scala/org/fs/mael/ui/utils/SwtUtils.scala
Due: backend, ui

UI code for parsing various HTTP request formats
  src/main/scala/org/fs/mael/backend/http/utils/HttpUtils.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
Due: backend, ui

Implemented HTTP request parsing
  src/main/scala/org/fs/mael/backend/http/utils/HttpUtils.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/test/scala/org/fs/mael/backend/http/utils/HttpUtilsSpec.scala
Due: backend, ui

Request parsing capabilities moved to HttpBackend
  src/main/scala/org/fs/mael/backend/http/HttpBackend.scala
  src/main/scala/org/fs/mael/backend/http/utils/HttpUtils.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/test/scala/org/fs/mael/backend/http/HttpBackendSpec.scala
  src/test/scala/org/fs/mael/backend/http/utils/HttpUtilsSpec.scala
Due: backend, ui

Updated CHANGELOG, added TODO memo
  CHANGELOG.md
  src/main/scala/org/fs/mael/backend/http/config/HttpSettings.scala
Due: backend

Implemented parsing curl requests
  CHANGELOG.md
  src/main/scala/org/fs/mael/backend/http/HttpBackend.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/test/scala/org/fs/mael/backend/http/HttpBackendSpec.scala
Due: backend, ui

Improved readability, fixed typo
  CHANGELOG.md
  src/main/scala/org/fs/mael/backend/http/HttpBackend.scala
Due: backend

#43: Window size/position/maximized state is not persistant
  CHANGELOG.md
  src/main/scala/org/fs/mael/core/config/ConfigSetting.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/config/GlobalSettings.scala
Due: core, ui

Fixed clipboard-imported downloads not being properly processed
  src/main/scala/org/fs/mael/core/list/DownloadListManager.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
Due: core, ui

Improved handling of double quotes when importing curl request
  src/main/scala/org/fs/mael/backend/http/HttpBackend.scala
  src/test/scala/org/fs/mael/backend/http/HttpBackendSpec.scala
Due: backend

#46: Implemented (persistent) download auto-start option
  CHANGELOG.md
  src/main/scala/org/fs/mael/core/event/EventManager.scala
  src/main/scala/org/fs/mael/core/event/Events.scala
  src/main/scala/org/fs/mael/ui/EditDownloadDialog.scala
  src/main/scala/org/fs/mael/ui/MainFrame.scala
  src/main/scala/org/fs/mael/ui/config/GlobalSettings.scala
Due: core, ui

Fixed issue with illegal header-like text being parsed
  src/main/scala/org/fs/mael/backend/http/utils/HttpUtils.scala
Due: backend

Fixed incorrect parent being used for StringTableFieldEditor layout
  src/main/scala/org/fs/mael/ui/components/StringTableFieldEditor.scala
Due: ui
